[submodule "skynet"]
	path = skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "luaclib-src/lua-cjson"]
	path = luaclib-src/lua-cjson
	url = https://github.com/mpx/lua-cjson.git
[submodule "luaclib-src/lua-protobuf"]
	path = luaclib-src/lua-protobuf
	url = https://github.com/starwing/lua-protobuf
